{% extends "layout.html" %}
{% load i18n %}

{% block producto %}


<!-- -------------------------------------
- SECTION DE Producto
------------------------------------- -->
<!-- Section del producto -->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                    src="{{producto.imagen.url}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: {{producto.id}}</div>
                <h1 class="display-5 fw-bolder">{{producto.nombre}}</h1>
                <div class="fs-5 mb-5">
                    {% if producto.en_oferta %} <span class="text-muted text-decoration-line-through">$ {{producto.precio}}</span> $ {{producto.precio_con_descuento}}
                    <p>Descuento: {{ producto.porc_descuento }}%</p>
                    {% else %}
                    $ {{producto.precio}}
                    {% endif %}
                </div>
                <p class="lead">{{producto.descripcion}}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3 vervalor" id="inputQuantity" type="num" value="1"
                        style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0 agregar" type="button">
                        {% comment %} <input type="submit" hidden class="col-12 vervalor" value="0" /> {% endcomment %}
                        <input type="submit" hidden class="col-12 verid" value="street_producto_{{producto.id}}" />
                        <i class="bi-cart-fill me-1"></i>
                        Agregar al carro
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sección para los items relacionados por marca o tipo -->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Productos Relacionados</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Imagen del producto-->
                    <img class="card-img-top" src="/media/desarrollo/producto8.jpg" alt="..." />
                    <!-- Detalles del Producto-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder" style="height: 50px;">Producto 8</h5>
                            <!-- Precio del producto -->
                            $4000.00 - $8000.00
                        </div>
                    </div>
                    <!-- Acciones-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver</a></div>
                    </div>
                </div>
            </div>
            
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Oferta! -->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Oferta
                    </div>
                    <!-- Imagen del producto-->
                    <img class="card-img-top" src="/media/desarrollo/producto2.jpg" alt="..." />
                    <!-- Detalle del producto -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Nombre del producto-->
                            <h5 class="fw-bolder" style="height: 50px;">Producto 2</h5>
                            <!-- Calificacion del producto-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Precio del producto -->
                            <span class="text-muted text-decoration-line-through">$2000.00</span>
                            $1800.00
                        </div>
                    </div>
                    <!-- Acciones del producto -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Agregar al Carrito</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Oferta -->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Oferta
                    </div>
                    <!-- imagen del producto -->
                    <img class="card-img-top" src="/media/desarrollo/producto3.jpg" alt="..." />
                    <!-- detalle del producto -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Nombre del Producto -->
                            <h5 class="fw-bolder" style="height: 50px;">Producto 3</h5>
                            <!-- precio del producto -->
                            <span class="text-muted text-decoration-line-through">$5000.00</span>
                            $2500.00
                        </div>
                    </div>
                    <!-- Acciones -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Agregar al Carrito</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- imagen del producto-->
                    <img class="card-img-top" src="/media/desarrollo/producto5.jpg" alt="..." />
                    <!-- detalle del producto-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- nombre del producto-->
                            <h5 class="fw-bolder" style="height: 50px;">Producto 4</h5>
                            <!-- Calificaciones del producto -->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- precio del producto-->
                            $40.00
                        </div>
                    </div>
                    <!-- Acciones del producto-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Agregar al Carrito</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock producto %}


{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<!--Incorporo la libreria jscookie para que Cookies.ger no me de error -->

<script = "text/javascript">
/*jslint browser: true*/
/*jslint plusplus: true*/
/*global FormData: false*/
/*global $, jQuery, alert, console*/
/* PARA VALIDAR LOS DATOS */
var csrftoken = Cookies.get('csrftoken');
function csrfSafeMethod(method) {
    "use strict";
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function AgregarProducto(producto_id, valor_actual, valor_a_agregar) {
    "use strict";

    // console.log(cada_producto_id, valor)
    $.ajax({
      beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      },
      url: "/tienda/agregar/",
      type: "GET",
      data: { producto_id: producto_id, valor_actual: valor_actual, valor_a_agregar: valor_a_agregar },
      success: function (json) {
        console.log("----------------------------------")
        console.log("Producto actualizado en el Localstorage: ", json[0].idproducto.toString())
        console.log("Nueva Cantidad del Producto en el LocalStorage: ", json[0].cantidad.toString())
        localStorage.setItem(json[0].idproducto.toString(), json[0].cantidad.toString());
        //location.reload();
        console.log("----------------------------------")

        // Actualizo el valor del dibujo del carrito en el menu
        let cantidad_total = 0;
        for (let i = 0; i < localStorage.length; i++) {
          let clave = localStorage.key(i);
          if (clave.startsWith("street_producto_")) {
            let valor = localStorage.getItem(clave);
            cantidad_total = cantidad_total + parseInt(valor);
          }
        }
        console.log("Cantidad total de productos en el carrito: ", cantidad_total);
        $("#imagen_carrito").text(cantidad_total.toString());

    },
      error: function (xhr, errmsg, err) {
        console.log('Error en carga de respuesta')
      }
    });
}

$('.vervalor').on("input", function(event) {
    // Obtener el valor actualizado del input
    const valor = event.target.value;
    
    // Actualizar el atributo "value" del input
    $(this).attr("value", valor);
});

  
$('.agregar').click(function (event) {
    "use strict";
    event.preventDefault();
    console.clear()
    let valor_actual = "0"
    let producto_id = $(this).parent().find('.verid').val();
    let valor_a_agregar = $(this).parent().find('.vervalor').val();
    console.log("hice click en el producto:", producto_id);
    console.log("que tiene un valor A AGREGAR de:", valor_a_agregar);

    // PASO 1: Elimino todo item que no empiece con street_producto_
    let i;
    console.log("ELIMINANDO OTRAS CLAVES DEL LOCALSTORAGE:")
    for (i = 0; i < localStorage.length; i++) {
      let clave_eliminar = localStorage.key(i);
      // console.log(typeof clave_eliminar);
      console.log("-----------clave a eliminar:", clave_eliminar);
      if (!clave_eliminar.startsWith("street_producto_")) {
        // console.log("Retorna no Verdadero!!!!!!");
        console.log("-----------Se eliminará la clave:", clave_eliminar);
        localStorage.removeItem(clave_eliminar);
      }
      else {
        console.log("-----------No se eliminará la clave:", clave_eliminar);
        valor_actual = 0;
      }
    }

    // PASO 2: Busco el valor del producto en el localStorage (SI YA ESTÁ EN EL PEDIDO):

    for (i = 0; i < localStorage.length; i++) {
      let clave = localStorage.key(i);
      console.log("=============VALOR ACTUAL EN LOCALSTORAGE=======", localStorage[clave])
      valor_actual = localStorage[clave]; // VALOR ACTUAL DEL PRODUCTO EN EL PEDIDO(LOCALSTORAGE)
      if (clave == producto_id) {
        console.log("----- Se encontró el producto en el LocalStorage -----")
        console.log("Key en el LocalStorage: ", clave);
        console.log("Cantidad ACTUAL en el LocalStorage: ", valor_actual);
        console.log("----------------------------------------------------")
        break;
      } else {
        console.log("No se encontró el producto en el LocalStorage");
        valor_actual = 0
      }
    }
    console.log("=======PARAMETROS A ENVIAR A AgregarProducto========", producto_id, valor_actual, valor_a_agregar )
    AgregarProducto(producto_id, valor_actual, valor_a_agregar);
});

</script>
{% endblock scripts %}
