{% extends "layout.html" %}
{% block title %}MENSAJE CORRECTAMENTE{% endblock %}
{% load static %}
{% load i18n %}
{% block mensaje %}
<!-- ---------------------------------------------------------------------------
-------------- 
------------------------------------------------------------------------------->
 
<div class="container-fluid  "   >
    <div class="row reflexion justify-content-center align-items-center  " style="padding-top:20px;">   
        <div class="col-8  " style="padding-top:40px; padding-bottom: 40px;">
            <div>
                <center>
                    <h1 style="color:red;">FALLO AL ENVIAR EL MENSAJE!<i class="fas fa-star"></i></h1>
                    <!-- <p>En breve nos contactaremos con vos</p> -->
                  </center>    
            </div>
        </div>  
     </div>
 </div>
  

    
<section class="container-fluid ">
    <div class="row" style="padding-top:10px; ">
        <div class="col-12" style="padding:0px;  ">
           <br/> 
        </div>
    </div>
</section>
   
  



{% endblock %}