{% extends "base.html" %}
{% load i18n %}
{% block content %}

<!-- ********************************************
*  ESTE ES MI NAV
********************************************* -->

<div class="container-fluid p-0" style="background-color: rgb(255, 187, 0)" >
  <div class="row p-0">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <h4 class="fw-bolder" style="display:inline;">Street</h5>
              <p style="display:inline;"> peluquería</p>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:lista_post' %}">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'galeria' %}">Galeria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tienda_index' %}">Tienda</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Usuarios
                </a>
                <ul class="dropdown-menu">
                  {% if request.user.is_authenticated == False %}
                  <li><a class="dropdown-item" id='login-view' href="{% url 'auth_login' %}" data-toggle="modal"
                      data-target="#loginModal">Ingresar</a></li>

                  <li><a class="dropdown-item" href="{% url 'registration_register' %}" data-toggle="modal"
                      data-target="#loginModal">Registrarse</a></li>
                  {% endif %}
                  {% if request.user.is_authenticated and request.user.is_active %}
                  {% if request.user.is_staff or request.user.is_superuser %}
                  <li><a class="dropdown-item" href='{% url "admin:index" %}'>Admin Panel</a></li>
                  <!---->
                  <li><a class="dropdown-item" href='{% url "turnero"  %}'>Turnero</a></li>
                  <li><a class="dropdown-item" href='{% url "ordenes_index" %}'>Ordenes Diarias</a></li>
                  {% endif %}
                  {% endif %}
                  <li><a class="dropdown-item" href="{% url 'auth_logout' %}" data-toggle="modal"
                      data-target="#loginModal">Salir</a></li>
                </ul>
              </li>
            </ul>



            <form class="d-flex">
              {% if request.user.is_authenticated %}
              {% if request.user.is_staff or request.user.is_superuser %}
              <span class=" me-3 navbar-text" style="display:inline;">Bienvenido, {{ request.user.first_name }} {{ request.user.last_name }} (Admin) </span>
              {% else %}
              <span class=" me-3 navbar-text" style="display:inline;">Bienvenido, {{ request.user.first_name }} {{ request.user.last_name }}</span>
              {% endif %}
              {% endif %}
              <button class="btn btn-outline-light" type="submit" formaction="{% url 'carrito' %}">
                <i class="bi-cart-fill me-1"></i>
                Carro
                <span class="badge bg-dark text-white ms-1 rounded-pill" id="imagen_carrito">0</span>
              </button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

{% block inicio %} {% endblock %}

{% block blog %} {% endblock %}

{% block tienda %} {% endblock %}

{% block producto %} {% endblock %}
{% block galeria %} {% endblock %}
{% block servicios %} {% endblock %}
{% block turnero %} {% endblock %}
{% block mensaje %} {% endblock %}


{% block logout %} {% endblock %}
<!--********************************************
*  FOOTER
*********************************************-->

<footer class="bg-dark text-center text-white mt-5">
  <!-- Grid contenedora -->
  <div class="container p-4 pb-0">
    <!-- Seccion  Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn text-white btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i
          class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn text-white btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
          class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i
          class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i
          class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn text-white btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i
          class="fab fa-linkedin-in"></i></a>
      <!-- Github -->
      <a class="btn text-white btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i
          class="fab fa-github"></i></a>
    </section>
    <!-- Seccion Social media -->
  </div>
  <!-- Grid contenedora -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-white" href="">EstebanHeredia.com</a>
  </div>
  <!-- Copyright -->
</footer>

{% endblock %}

{% block scripts %}
<script>


  // document.addEventListener("DOMContentLoaded", function(event) {
  // // Código a ejecutar cuando se completa la carga de la página
  //  console.log("La página ha sido cargada completamente");
  // "use strict";
  // event.preventDefault();
  // var miCarrito = document.getElementById("imagen_carrito");
  // let i;
  // localStorage.setItem("cant_productos_en_el_carrito",0)
  // for (i = 0; i < localStorage.length; i++) {
  //   if (clave_eliminar.startsWith("street_producto_")) {
  //     cant_productos_en_el_carrito = cant_productos_en_el_carrito + 1;
  //   };
  // };
  // miSpan.innerHTML = cant_productos_en_el_carrito;
  // });

  function miFuncion() {
  // Aquí colocas el código que quieres que se ejecute cuando la página se cargue completamente
  console.log("La página se ha cargado completamente!");
};
</script>
{% endblock %}